                                /* normalisers*/
body, h1, h2, h3, h4, p, li, a, ul, figure {
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    list-style-type: none;
}

.hover a:hover {
    color: #FF7000;
}

.duo {
    width: 50%;
}

.center {
    margin:0 auto;
}

.flex{
    display: flex;
}


.admin {
   font-family: "Lucia-Grande", Verdana, Arial, sans-serif;
   color: #343434;
   text-transform: uppercase;
   width: 100%;
   font-weight: 400;
   height: 100%;
}
.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
    width: 100%;
}

.end{
    justify-content: flex-end;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

.quartet{
    width: 25%;
}

.duo{
    width: 50%;
}

.header {
    background-color: #343434;
    min-height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 500;
    height: 10%;
}

.header h1{
    text-align: center;
    margin: auto 0;
    font-size: 2rem;
    min-width: 15rem;
    width: 20%
}

.header h2 {
    color: white;
    margin: auto 0px;
    min-width: 20%;
    font-size: 1.5rem;
    text-align: center;
}

.header p {
    font-size: 1rem;
    margin: auto 0;
    
}

.menu {
    min-width: 15rem;
    width: 20%;
    display: flex;
    background-color: #343434;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 70rem;
}

.menu ul {
    list-style: none;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.menu li a{
    color: white;
}

.desktop {
    width: 80%;
    display: inline-flex;
    margin-top: 0;
    justify-content: center;
    height: 100%;
    max-height: 70rem;
    overflow: auto;
}

.desktop img {
    width: 50%;
}

/* normalize to fieldset */

fieldset {
    border: 0;
    padding: 0.01px 0 0 0;
    margin: 0;
    min-width: 0;
    display: table-cell;
}
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

/* style for logout */

.logout {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #eee;               
    background-color: #f7f7f7;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    font-family: montserrat;
    width: fit-content;
}

/* CSS for the adduser form*/

.flex-wrapper {
    display: inline-flex;
    min-height: 35rem;
    width: 100%;
    height: 90%;
}
.desktop form .adduser{
    display: flex;
    width: 35%;
    height: 90%;
    justify-content: center;
    align-items: center;
}
#addimage {
    background-image: url("/img/plus.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    width: 15%;
    height: 15%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    bottom: 10%;
    
}

/*ICONS LIBRARY */

.addIcon {
    background-image: url("/img/plus.svg");
    background-repeat: no-repeat;
}

.deleteIcon{
    background-image: url("/img/delete.svg");
    background-repeat: no-repeat;
}

.deleteImage{
    color: red;
    border: 2px solid red;
    display: block;
    box-sizing: border-box;
    width: 6rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    
}

.deleteImage:hover {
    color: #FF7000;
    border: 2px solid #FF7000;
  }

#productImages {
    position: relative;
}
.submitField .block  {
    display: block;
    width: 100%;
    font-size: 0px;
    box-sizing: border-box;
}

.submitField .inline {
    display: inline-block;
    width: 50%;
}
.submitField .block label{
    font-size: 1rem;
    display: block;
}

legend {
    padding: 0 0 .5em 0;
    font-weight: bold;
    color: #777;
    display: table;
    text-transform: uppercase;
}

input {
    font: inherit;
}

input:focus {
    box-shadow: 0 0 .5em rgba(93, 162, 248, 0.5);
    border-color: #FF7000;
    outline: 0;
}
button  {
    cursor: pointer;
    border: 2px solid black;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
}

button:focus {
    background-color: #FF7000;
    color: white;
}

/*UPDATED AND SEPERATED BUTTON ELEMENT ABOVE GENERIC STYLES*/

.logout button{
    border: 1px solid #FF7000;
    padding: .5em 1em;
    color: #343434;
    border-radius: .25em;
    font-size: 1em;
    background-color: white;
 }

.logout button, button:focus {
    background-color: #FF7000;
    color: white;
    /*background-image: linear-gradient( to bottom, #2063c0, #1d4d90);*/
    box-shadow: 0 .25em 0 rgba(23, 59, 109, 0.3),
        inset 0 1px 0 rgba(0, 0, 0, 0.3);
}
.products {
    justify-content: space-around;
    align-items: center;
    
}
.products a {
    height: 40%;
    width: 30%;
    border: 1px solid black;
    font-size: 2rem;
    display: flex;
    color: black;
    justify-content: space-around;
    align-items: center;
}

.desktop form {
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.desktop fieldset {
    width: 30%;
    margin: 1%;
    box-sizing: border-box;
    border: 1px solid black;
    display: inline-flex;
    height: 40%;
}

.desktop fieldset label {
    display: block;
}

.desktop fieldset label, .desktop fieldset,
.desktop fieldset textarea, .desktop.checkbox, .desktop input, .desktop select {
    margin: 2% 0;
    padding: 0 1rem;
}

.desktop fieldset textarea {
    min-width: 200px;
    min-height: 100px;
    padding: 0;
    width: 90%;
    height: 30%;
    resize: vertically;
}

textarea:active {
    border: #FF7000;
}

.desktop .checkbox {
    border: none;
    display: inline;
}

.desktop .checkbox label {
    display: inline-block;
    color: black;
}

.desktop .checkbox-header {
    text-align: left;
    color:#777;
}

.desktop fieldset label {
    color: #777;
}

  .showroom {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 58%;
    background-color: #F7F7F7;
    height: 96%;
    position: relative;
    max-height: 55rem;
  } 
  
  .showroom img {
      min-width: 80%;
      border: 2px solid black;
      box-sizing: border-box;
      display: block;
      margin: 0 auto;
  }
  
  .product-info {
      background-color: #F7F7F7;
      height: 96%;
      width: 38%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      max-height: 55rem;
  }
  
  .priceButton {
      display: block;
      width: 80%;
  }
  
  .pricebutton button{
      width: 100%;
      margin-bottom: 1rem;
      background-color: green;
      border: none;
  }
  
  .pricebutton button:last-child {
      background-color: red;
  }
  
  .pricebutton h2 {
      width: 100%;
      font-size: 1.5rem;
      text-align: left;
      font-weight: 500;
      margin-bottom: 1rem;
  }
  
  .pricebutton h2:before {
      content: "25€";
      text-align: left;
      color: grey;
      margin-right: 2rem;
      text-decoration: line-through;
      
  }
  
  .product-info h1 {
      width: 80%;
      font-size: 1.5rem;
      text-align: left;
      font-weight: 500;
      margin-bottom: 2rem;
     
  }
  
  .product-info p {
      width: 80%;
      text-align: left;
      font-size: 0.8rem;
      font-weight: lighter;
     
  }
  
  .arrowbutton {
      position: absolute;
      bottom: 1rem;
      left: auto;
      right: auto;
  }
  
  .gradient {
        background-image: linear-gradient(to bottom, rgba(0,0,0,.7) 20%,rgba(0,0,0,.8));
        width: 40%;
        bottom: 0;
        right: 0;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    
.gradient h2, .gradient p, .gradient h3, .gradient a {
    color: white;
    text-align: left;
    margin-left: 2rem;
    font-weight: lighter;
    
    }
    
.gradient h2 {
    font-size: 1.2rem;
    margin-top: 20%;
    margin-bottom: 5%;
    }

.gradient p {
    margin-bottom: 2.5%;
    font-size: 0.8rem;
    }

.gradient h3 {
    font-size: 1rem;
   
    }
    
.button {
    text-align: center;
    border: 2px solid #FF7000;
    border-radius: 1em;
    width: 50%;
    padding: 0.5rem 1rem;
    overflow: hidden;
    }
    
    /* ALL TABLE STYLES */
    
.admintables {
    border-collapse: collapse;
    table-layout: fixed;
    width: 96%;
    min-width: 60rem;
    text-align: center;
}

.admintables caption {
    background-color: #f7f7f7;
    padding-bottom: 1rem;
}

.tableheader {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
 
}

.admintables .tableheader h2{
    align-self: flex-start;
}

.admintables th,
.admintables td {
    padding: 0;
    width: 100%;
}

.admintables td  {
    border: 1px solid #6d6d6d;
}

.admintables form{
    flex-wrap: nowrap;
    width: 50%;
    height: 10%;
}

.admintables thead {
    background-color: #343434;
    color: white;
}

.admintables a {
    display: block;
    text-decoration: none;
    color: #2f273c;
}

.admintables a:hover,
.admintables a:focus {
    background-color: #cde7ca;
    background-color: rgba(167, 240, 210, 0.3);
}

.col-id {
    background-color: #fef0f0;
    background-color: rgba(255, 0, 0, 0.05);
    width: 20%;
}
.col-description{
   
}

.tablerow{
    height: 4rem !important;
    overflow: hidden;
}



/* SPECIAL STYLES FOR PRODUCTTABLE*/

.col-section {
    width: 40%;
}

#producttableform {
    display: block;
    width: 30%;
    margin: 0px;
    align-self: flex-end;
}

#producttable .productDescription {
    font-size: 0.6rem;
    text-transform: none;
    text-align: left;
    padding-left: 4px;
    background-color: rgba(167, 240, 210, 0.3);
   
}

#producttable .productCheckBoxes{
    
}

#producttable .productCheckBoxes input{
    
}

#producttable .productImages{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
#producttable .previewsliderlinks{
     
}

#producttable .previewsliderlinks a{
    display: inline;
    color: #FF7000;
    text-decoration: underline;
    margin: 1rem;
 }

#producttable .productItems {
    font-size: 0.9rem;
    color: green;
}

#producttable .productItems span {
    display: block;
}

#producttable .productImages img {
    max-height: 4rem;
    margin-right: 0.5rem;
    
}

#searchProduct {
    width: 40%;
    display: flex;
    justify-content: center;
}

#searchProductInput{
    margin: 0;
    padding: 0px;
    height: 2rem;
    width: 75%;
    box-sizing: border-box;
    border: 2px solid white;
}

#searchProduct button {
    width: 15%;
    margin: 0px;
    box-sizing: border-box;
    border: 2px solid black;
    color: black;
 }

#productlistmenu {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

#productlistmenu ul{
    display: inline-flex;
    width: 80%;
    justify-content: space-between;
}

#productlistmenu ul li {
   width: 23%;
   height: 2rem;
   border: 2px solid black;
   background-color: white;
 }
 
#productlistmenu ul li a {
    background-color: white;
    height: 100%;
    color: black;
 }

#producttable #createNewSection {
    border: none;
    color: black;
}

/*  DROPDOWN MENU STYLES, DONT KNOW IF USED */

.dropdown-content {
    display: none;
    position: absolute;
}

.anchor {
    position: relative;
}

.show {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    background-color: #f7f7f7;
}

.show li {
    outline: 1px;
    font-size: 1rem;
    width: 100%;
}

.show li a {
    width: 100%;
}

.dropzone {
    cursor: pointer;
}

.selectOptions {
    display: none;
}

.showOptions {
    display: block;
}

#adding-section {
    display: block;
    height: 2rem;
    width: 100%;
}

/* ADDING SECTION STYLES */

#addSection{
    width: 67%;
    height: 100%;
    position: relative;
    background-color: #F7F7F7;
}

#addSection fieldset{
    border: none;
    width: 50%;
    height: 40%;
    position: relative;
    background-color: #F7F7F7;
}

#addSection #addingSectionForm {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
}
 
#addSection .addingGenerals .rowHeader,
#addSection #addingSectionImages .rowHeader{
    height: 20%;
}

#addSection .addingGenerals .row{
    height: 20%;
}
 
#addSection .inline-flex input,
#addSection .inline-flex label{
    width: 50%;
}

#addSectionActionBar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sectionSubmitButton{
    width: 30%;
    height: 3rem;
    text-transform: uppercase;
}

.sectionProducts{
    width: 30%;
}

#addSectionActionBar .sectionProducts {
    border: 2px solid black;
    height: 20%;
    white-space: nowrap;
    overflow-x: scroll;
}

#sectionProductsHeader span{
    width: 35%;
}
 
 #addSectionActionBar .sectionProducts .thumbnails{
    width: 20%;
    border: 1px solid black;
    margin: 0.5rem;
}

#addSectionActionBar #sectionAllProducts {
    height: 20%;
    overflow-y: scroll;
}

#addSectionActionBar #sectionAllProducts .thumnail img{
    width:  90%;
}

#addSectionActionBar #sectionAllProducts .thumnail h6{
    display: block;
    width: 40%;
    text-align: center;
    
}

#sectionPreview{
    width: 60%;
    max-height: 100%;
    
}

#sectionPreview section{
    width: 100%;
}

#sectionPreview #big{
    width: 58%;
}

#sectionPreview #small{
    width: 38%;
}

#sectionPreview .product{
    width: 24%;
    border: 1px solid black;
}


/*editproduct */

#addProductSelectBar{
    width: 100%;
    height: 10%;
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
}

#addProductSelectBar p {
    display: flex;
}