.desktop{
    display: block;
}

#adminlists {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 10%;
    background-color: #343434;
    display: block;
    min-width: 60rem;
}

#adminlists:after {
    content: '';
    clear: both;
    display: block;
}

#adminlists h2 {
    color: white;
}

#adminlists .left {
    margin: 2% 2rem;
}

#adminlists .right {
    margin-right: 2rem;
}

#adminlistbody {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid white;
    box-sizing: border-box;
}

.admintables thead{
    color: white;
    background-color: #343434;
}

#addNew {
    margin: 2% 2rem;
    float: left;
    
}

#addNew span {
    background-color: white;
    padding: 0.3rem 2rem;
}

/*
/lifted in stylesfrom old admin table
/
*/

.admintables {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    text-align: center;
   
}

.admintables td  {
    border: 1px solid #6d6d6d;
}

.tablerow > td {
    height: 10px;
}

.tablerow td > div {
    height: 4rem;
    overflow: hidden;
}

.tablerow td h2 {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
    color: green;
    
}

.tablerow td p,
.tablerow td span{
    text-transform: lowercase;
    font-size: 0.6rem;
    text-align: left;
}

.thumbnailwrapper{
    border-top: 0.5px solid green;
    display: block;
    border-collapse: collapse;
    width: 100%;
    height: 2rem;
}

.thumbnailwrapper:after{
    content: '';
    clear: both;
    display: block;
}

.thumbnailwrapper span{
    float: left;
}

.thumbnailwrapper .imagethumbnails{
    height: 100%;
    float: right;
}