/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2017, 5:27:38 PM
    Author     : adam
*/

.wrapper {
    width: 95%;
    min-width: 20em;
    margin: 0 auto;
    
    
}