/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2017, 8:39:21 PM
    Author     : adam
*/


.col1 {
    
}

.grid {
    display: flex;
    flex-flow: row wrap;
    width: 1024px;
    height: 2500px;
    font-size: 16px;
    font-family: montserrat;
    text-transform: uppercase;
    padding: 16px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    color: #343434;
    list-style: none;
    align-content: flex-start;
    box-sizing: border-box;
    
   
    
    
        
}
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
} 

.header {
    position: fixed;
    /*background-color: white;
    display: inline-flex;*/
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.logo { 
    height: 64px; 
    width: 273px;
    margin-left: 32px;
    
    
}
nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 480px;
    height: 80px;
    margin-left: auto;
    position: relative;
    margin-right: -2em;
    color: #343434;
    
    
}
span {
    position: absolute;
    background-color: #FF7000;
    padding: 2px;
    border-radius: 50%;
    color: white;
    top: 13px;
    right: 100px;
    clear: both;
    
    
}

.shoppingcart
{
    position: absolute;
    width: 24px;
    top: 12px;
    right: 72px;
}
nav a {
    margin-right: 2em;
    text-decoration: none;
    padding-right: 2em;
    color: #343434;
    
}
.discountbar {
  display:flex;
  align-items: center;
  background-color: #343434;
  height: 36px;
  width: 100%;
  margin-top: 4px;
  
  justify-content: center;
  line-height: 64px;
  font-weight: lighter;
  
}
.discountbar h2 {
   display: flex;
   color:white;
   font-weight: lighter;
   font-size: 16px;
    
    
}
.slideshow {
    position: relative;
}

.slideshow-gradient{
    
    background-color: rgba(76, 175, 80, 0.2);
    bottom: 0px;
    right: 0px;
    z-index: 1;
    width: 300px;
    height: 669px;
    float: right;
    
}
/*.slideshow button {
    position: absolute;
    bottom: 10px;
    right: 480px;
    z-index: 1;
    background: #FF7000;
    style: none;
    color: #FF7000;
    border-radius: 90px 90px 90px 90px;
    
    
}*/

.buttons {
    position: relative;
    top: -80px;
    left: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}



.btn-slide {
    z-index: 1;
    background: #343434;
    color: #343434;
    border-radius: 50%;
    padding: 16px;
    bottom: 10px;
    margin: 20px;
}


.btn-slide-active {
    background: #FF7000;
    color: #FF7000;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 2em;
    padding-right: 2em;
    
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    top: 16px;
    left: 0px;
    background-color: white;
    min-width: 64px;
    z-index: 1;
}
.show {
    display:inline;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.wt-dropdownmenu {
    cursor: pointer;
}
.wt-section {
   align-items: center;
    padding:0;
    margin-left:;
    align: left;
}
.wt-section img{
    display: inline-block;
    margin-right: 6px;
    
}
.framedpics img {
    display: inline-block;
    border: 3px solid;
    distribute: auto;
    margin-right: 6px;
    margin-top: 6px;
    box-sizing: borderbox;
}
.wt-section button {
    display: inline-flex;
    margin-left: 64px;
    border: 2px solid;
    padding: 10px 15px 10px 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-color: #FF7000;
    color: #FF7000;
    border-radius: 5px;
    
}

/* wally css */

.container {
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    
}

.flex-container {
  display: flex;
}
.row {
  margin-right: -16px;
  margin-left: -16px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;

}
@media (min-width: 960px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}