.tabOptions a{
    border: 1px solid black;
    padding: 0.5em 2em 0.5em 2em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}

#productImages .pictureBar {
    height: 20%;
}

#productImages .wrapper,
#general .wrapper,
#productInfo .wrapper{
    margin: 1em 0;
}

#productinfo textarea{
    width: 100%;
    margin-left: 2.5em;
    height: 60%;
}

#productinfo #tags textarea{
    width: 80%;
    margin-left: 20%;
    height: 71.5%;
}

#productinfo #tags label{
    margin-left: 12%;
}

#productImages,
#itemDetails,
#currently,
#productInfo,
#general{
    height: 45%;
    width: 38%;
    background-color: #f7f7f7;
    
}

#productImages li{
    height: 50%;
    font-size: 0.8em;
    padding-left: 1em;
}

#editProduct #productImages:hover,
#editProduct #itemDetails:hover,
#editProduct #currently:hover,
#editProduct #productInfo:hover,
#editProduct #general:hover{
    background-color: white;
}


#currently{
    width: 18%;
}

#itemDetails{
    background-color: #f7f7f7;
    box-sizing: border-box;
}

#productInfo{
    width: 100%;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

#addLanguage,
#addCountry{
    content: '';
    display: table-cell;
    clear: both;
    position: relative;
    top: 1px;
}

#addLanguage li:active,
#addCountry li:active {
    position: relative;
    top: 2px;
   
}

#addLanguage li.selected {
    position: relative;
    top: 2px;
   
}

#addLanguage li a:active,
#addCountry li a:active {
    background-color: white;
}

#addLanguage li.selected a {
    background-color: white;
}

#selectLanguage,
#selectCountry{
    bottom: -0.8em;
    right: 12em;
    z-index: 3;
    background-color: #f7f7f7;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 2em;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 1em 1em 0px 0px;
}

#selectLanguage:hover,
#selectCountry:hover{
    background-color: white;
}

#selectCountry{
    right: 10.5em;
}

#selectLanguage select{
    min-width: 10em;
    background-color: white;
}


#addLanguage .tabOptions a,
#addCountry .tabOptions a{
    background-color: #E5E5E5;
    color: #7f7f7f;
    z-index: 2;
    border-bottom: none;
    border-radius: 1em 1em 0px 0px;
}

#languageBar{
    width: 57%;
    height: 5%;
    margin: 0;
    align-self: flex-end;
}

#countryBar{
    width: 38%;
    height: 10%;
    align-self: flex-end;
}

#editProduct legend{
    color: #404040;
    font-weight: bold;
    
}

#productImages li{
    box-sizing: border-box;
    display: block;
    
}

#productImages input{
    margin: 0px;
    padding: 0px;
    
}

#productImages span{
    padding: 0 1em;
}

#underStore1 {
    width: 57%;
}

#underStore2 {
    width: 38%;
}

#itemDetails{
    width: 100%;
}

#productImages .saveImage button {
    max-width: 100%;
    min-width: 80%;
    text-align: center;
}

#productImages .radios {
    width: 46.66%;
}

#productImages .saveImage {
    width: 20%;
}

#productImages input[ type ="file"]{
    font-size: 0.8em;
}

#currently #thumbnails {
    overflow: scroll;
    max-width: 90%;
    max-height: 33%;
    border: 1px solid black;
}

#currently #thumbanils {
    content: '';
    clear: both;
    display: table-cell;
}


#currently #thumbnails .thumbnail img {
    max-height: 4em;
    float: left;
    margin: 0.2;
    
}

#currently span {
    font-size: 0.8em;
    color: red;
}

#materialOptions p label,
#materialOptions p input {
    font-size: 0.8em;
    
}

#addedpictures {
    border-top: 1px solid black;
    font-size: 0.8em;
    font-style: italic;
    width : 100%;
}
#addedpictures p {
    height: 10%;
}

#addedpictures span {
    float: left;
}

#addedpictures button {
    float: right;
}


