
.desktop{
    display: block;
}

#underStore1 {
    width: 57%;
    
    
}

#underStore2 {
    width: 38%;
}

#underStore1,
#underStore2 {
    position: relative;
    margin-top: 2.5rem;
}

#underStore1 > div,
#underStore2 > div{
    position: absolute;
    top: -1.6rem;
}

#underStore1 > div ~ div {
    position: static;
}

#underStore1 div span,
#underStore2 div span{
    padding: 0.5em 2em 0.5em 2em;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    box-sizing: border-box;
}


#productInfo  > div ~ div {
    margin-top: 2rem;
}

#productInfo textarea{
    width: 95%;
    height: 60%;
}

#itemDetails{
    overflow: scroll;
}

#itemDetails article {
    width: 32%;
    height: 50%;
    float: left;
    overflow: scroll;
}

.selectedLanguage,
.selectedMarket {
    position: relative;
    bottom: -0.1rem !important;
    z-index: 10;
    background-color: white;
    
}

.tabOptions a{
    border: 1px solid black;
    padding: 0.5em 2em 0.5em 2em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}

#addPictures .pictureBar {
    height: 20%;
}

#addPictures .wrapper,
#general .wrapper,
#productInfo .wrapper{
    margin: 1em 0;
}


#addPictures,
#itemDetails,
#currently,
#productInfo,
#general{
    height: 45%;
    width: 38%;
  }

#addPictures li{
    height: 50%;
    font-size: 0.8em;
    padding-left: 1em;
}

#currently{
    width: 19%;
}

#itemDetails{
    width: 100%;
    box-sizing: border-box;
}


#productInfo{
    width: 100%;
    box-sizing: border-box;
}

#addPictures li{
    box-sizing: border-box;
    display: block;
    
}

#addPictures input{
    margin: 0px;
    padding: 0px;
    
}

#addPictures span{
    padding: 0 1em;
}


#addPictures .saveImage button {
    max-width: 100%;
    min-width: 80%;
    text-align: center;
}

#addPictures .radios {
    width: 46.66%;
}

#addPictures .saveImage {
    width: 20%;
}

#addPictures input[ type ="file"]{
    font-size: 0.8em;
}

#currently #thumbnails {
    overflow: scroll;
    max-width: 90%;
    max-height: 33%;
    border: 1px solid black;
}

#currently #showImages{
    height: 50%;
}

#currently #thumbnails .thumbnail img {
    max-height: 4em;
    float: left;
    margin: 0.2;
    
}

#currently span {
    font-size: 0.8em;
    color: red;
}

#materialOptions p label,
#materialOptions p input {
    font-size: 0.8em;
    
}

#addedpictures {
    border-top: 1px solid black;
    font-size: 0.8em;
    font-style: italic;
    width : 100%;
}
#addedpictures p {
    height: 10%;
    margin-top: 0.5em;
}

#addedpictures span {
    float: left;
}

#addedpictures button {
    float: right;
}


